html {
  text-align: center;
  background-color: rgb(179, 179, 240);
}
canvas {
  background-color: rgba(0, 0, 0, 0.76);
}
.canvas{
  width: 90%;
  margin: 0 auto;
  border: solid 2px;
  padding: 0.5em;
  border-radius: 10px;

  margin-bottom: 2em;
}
.scroll-canvas {
  padding: 0.5em 0.5em 0em 0.5em;
  overflow-x: scroll;
}
.scroll-canvas::-webkit-scrollbar {
  height: 10px;
  background-color: transparent;
}
.scroll-canvas::-webkit-scrollbar-thumb {
  height: 20px;
  background-color: rgba(0, 0, 0, 0.76);
  border-radius: 10px;
}
.subject {

}
.ticker-master {
  position: relative;
}
b {
  font-size: 2em;
  color: rgba(255, 68, 0, 0.63);
  text-shadow: 0.04em 0.04em 0.04em rgb(0, 0, 0);
}